# Local drivers
*.pyc
*~
.pytest_cache/
engine/__pycache__/
engine/test/__pycache__/
util/__pycache__/
util/test/__pycache__/
results/
tags
.ipynb_checkpoints
example_makefile
.vim/
venv/
outdir_csv/
outdir_png/
out.txt
build/
.coverage
codacy-analysis-cli-master/
scenarios_csv/
scenarios_png/
sol080/scripts/

sol080/scripts/deploy.py
nbs/plot.ipynb

scenario_netlist_v4/
